<div class="container mt-mb-4">
  <div class="row">
    <h1>
      Profilul utilizatorului {{user?.userName}}
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img [src]="user?.url" [alt]="user?.firstName" class="card-img-top img-thumbnail">
        <div class="card-body">
          <div>
            <strong>Nume:</strong>
            <p>{{user?.lastName}}</p>
          </div>
          <div>
            <div>
              <strong>Prenume:</strong>
              <p>{{user?.firstName}}</p>
            </div>
            <div>
          <div>
            <strong>Locatie:</strong>
            <p>{{user?.country}}, {{user?.city}}</p>
          </div>
          <div>
            <strong>Varsta:</strong>
            <p>{{user?.age}}</p>
          </div>
           <!-- <div>
            <strong>Joined:</strong>
            <p>{{user.joined | date : "dd/mm/yyyy"}}</p> 
          </div>  -->
          <div>
            <strong>Puncte:</strong>
            <p>{{user?.points}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="user" class="no-city">
    <h1>Nu exista niciun oras cu acest nume, ne pare rau.</h1>
    </div> -->