<div class="container mt-4">
  <div class="row">
    <h1>
      Profilul tau
    </h1>
    

    </div>
  </div>
  <div class="row">
    
    <div class="col-sm-4">
      <div class="card">
        <img [src]="user.url" [alt]="user.firstName" class="card-img-top img-thumbnail">
        <div class="card-body">
          <div>
            <strong>Prenume:</strong>
            <p>{{user.firstName}}</p>
          </div>
          <div>
            <strong>Nume:</strong>
            <p>{{user.lastName}}</p>
          </div>
          <div>
            <strong>Locatie:</strong>
            <p>{{user.country}}, {{user.city}}</p>
          </div>
          <div>
            <strong>Varsta:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Joined:</strong>
            <p>{{user.joined}}</p>
          </div>
          <div>
            <strong>Puncte:</strong>
            <p>{{user.points}}</p>
          </div>
        </div>
      </div>
    </div> 
  
       
      <div class="col-sm-8">
        <div class="card">
          <div class="col-sm-8">
            <div *ngIf="editForm.dirty" class="alert alert-info">
              <p><strong>Info: </strong>Ati facut o schimbare. Orice schimbare nesalvata va fi pierduta!</p>
            </div>
          <!--tabset class="member-tabset">-->
          <div class="edit-profile">
            <h1><strong>
              Edit profile:
            </strong></h1>
            <form #editPhoto="ngForm" (ngSubmit)="updatePhoto()">
              <label for="photo">Poza de profil</label>
              <input type="file" class="form-control" (change)="onSelectFile($event.target.files[0])">
              <button class="btn btn-success btn-block">Salveaza Modificari</button>
            </form>


            <form #editForm="ngForm" (ngSubmit)="updateProfile()">

          <br class="form-inline">
            <label for="firstName">Prenume</label>
              <input class="form-control" type="text" name="firstname" [(ngModel)]="user.firstName">
              <label for="lastName">Nume</label>
              <input class="form-control" type="text" name="lastmame" [(ngModel)]="user.lastName">
              <label for="country">Tara</label>
              <input class="form-control" type="text" name="country" [(ngModel)]="user.country">
              <label for="city">Oras</label>
              <input class="form-control" type="text" name="city" [(ngModel)]="user.city"><br>
              <button [disabled]="!editForm.dirty" class="btn btn-success btn-block">Salveaza Modificari</button>
            </form>
            </div>
          </div>
          
          </div>
        </div>
      </div>
     
    