<footer class="contact">
  <hr>
  <div class="row justify-content-center">
    <p class="desc">Descriere descriere descriere</p><br>
    <b>Contact Info<br></b><br>
    <div>
    <span><p class="desc">0769210</p><br></span><br>
    <span><p class="desc">mail@laala</p><br></span><br>
    </div>
    <span><a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="" target="_blank"><i class="fa fa-instragram"></i></a>
    <a href="" target="_blank"><i class="fab fa-twitter-square"></i></a></span><br>
  </div>
  <hr class="socket">
  &copy; HDC
</footer>