<!--<section class="page-container d-flex justify-content-center align-items-center">
  <div class="center">
    <div *ngIf="!registerMode" style="text-align: center">
      <h1>Gaseste orasul pe care il cauti</h1>
      <div>
        <input type="text">
        <button>search</button>
      </div>
    </div>-->
    <section class="header">
      <div class="container">
          <img src="http://localhost:8080/log.jpg">
          <button type="button" class="login-btn">Logare</button>
      </div>

      <h1>Descopera orasele Transilvaniei</h1>
      <p>Abc</p>
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Cauta orasul">
          <div class="input-group-append">
              <button type="submit" class="input-group-text btn">Cauta</button>
          </div>
      </div>
 
  <!--<section class="features">
      <h1>Orasele</h1>
      <div class="container">
          <div class="row">
         
          <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="http://localhost:8080/brasov.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="card-title">Brasov</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Viziteaza</a>
                  </div>
              </div>

              </div>
          </div>
        -->
  


    <div *ngIf="registerMode" class="d-flex h-100">
      <div class="row justify-content-center">
        <div>
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>

        </div>
      </div>
    </div>
  

</section>

