<header class="photo" style="background-image: url({{post?.city?.url}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 class="mb-5">{{post?.city?.name}}</h1>
          <span class="subheading">{{post?.city?.description}}</span>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="jumbotron">
  <div class class="col-12 text-center">
    <h3 class="heading description">Experiență utilizatorului {{post?.user?.userName}}</h3>
    <hr><br>
    <h3>{{post?.title}}</h3>
    <h5>{{post?.postText}}</h5>




  <!-- 
   <h1> Detalii postare: </h1>
    <p>{{post?.postText}}</p>
    <h1>User care a postat:</h1>
    <p>Numele userului: {{post?.user.userName}}</p>
    <img [src]="post?.user.url"> -->


  <app-photo-view [photos]="post?.photos"></app-photo-view>

  <button class="btn btn-link" *ngIf="loggedIn()" (click)="likePost(post.id)"><i class="fa fa-heart"></i></button>

  <i *ngIf="!loggedIn()" class="fa fa-heart"></i>
  <span>{{likesNr}}</span>
  
  <div class="replies">
    <app-replies *ngIf="post" [replies]="post.replies">
    </app-replies>
  </div>
</div>
</div>
