<div *ngIf="searchedCities" class="container mt-5 mb-3">
  <div class="row">
    <div *ngFor="let city of searchedCities" class="col-lg-4 col-md-5 col-sm-6">

      <div class="card mb-4 h-30" [routerLink]="['/', city.name.toLowerCase()]">
        <img class="card-img-top" [src]="city.url | sanitizeUrl : 'url'" [alt]="city.name">
        <div class="card-img-overlay">
          <a [routerLink]="['/', city.name.toLowerCase()]">
            <h4 class="align-text-bottom">{{city.name}}</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!searchedCities" class="no-city">
  <h1>Nu exista niciun oras cu acest nume, ne pare rau.</h1>
  </div>