        <div>
          <img [src]="city?.url" class="img-fluid" alt="Responsive image" style="width:100%; height:300px">
          <div class="bottom-left">{{city?.name}}
          </div>
        </div>
      


        <div class="container mt-5">
          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <img class="card-img-top img-thumbnail" src="{{city?.url}}" alt="{{city?.name}}">
                <div class="card-body">

                  <div>
                    <strong>Oras:</strong>
                    <p>{{city?.name}}</p>
                  </div>
                  <div>
                    <strong>Descriere:</strong>
                    <p>{{city?.description}}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
<br>

        <button class="btn btn-primary" [routerLink]="[city?.name+'/addPost']">Adauga postare</button> <!--nu merge sa trimit la routes.ts-->

<app-posts *ngFor="let post of posts" [post]="post" (click)="detailToggle()">
</app-posts>
<router-outlet></router-outlet>