       <header class="photo" style="background-image: url({{city?.url}})">
          <div class="overlay"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                  <h1 class="mb-5">{{city?.name}}</h1>
                  <span class="subheading">{{city?.description}}</span>
                </div>
              </div>
            </div>
          </div>
        </header>

        <button type="button" *ngIf="loggedIn()" class="btn btn-outline-primary my-2 my-sm-0 mt-mb-3 ml-5 "
          [routerLink]="['./addPost']">Adauga experienta ta!</button><br><br>

        <div class="container">
          <app-posts  [posts]="posts">
          </app-posts>
        </div>
