<div class="edit-profile">
  <div class="container">
    <h1><strong>
        Adauga oras:
      </strong></h1>
    <form #editCity="ngForm" (ngSubmit)="addCity()">
      <label for="country">Nume</label>
      <input class="form-control" type="text" name="nume" [(ngModel)]="city.name">
      <label for="lastName">Descriere</label>
      <input class="form-control" type="text" name="descriere" [(ngModel)]="city.description">
      <label for="photo">Poza orasului</label>
      <input type="file" class="form-control" (change)="onSelectFile($event.target.files[0])"> <br>
      <button [disabled]="!city.name && !city.description" class="btn btn-outline-success mr-4">Adauga oras</button>
      <button type="button" class="btn btn-outline-secondary">Cancel</button>
    </form>
  </div>




 <!-- <form class="form-control">
   <select>
     <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
   </select>
  <button type="button" class="btn btn-outline-danger" (click)="deleteCity(city.id)">Sterge orasul</button>
 </form> -->


<table class="table">
  <thead>
      <tr>
          <th>
              Nume oras
          </th>
          <th></th>
      </tr>
  </thead>
  <tbody *ngFor="let city of cities; let citiesIndex = index;">
      <tr>
          <td>
              {{city.name}}
          </td>
          <td>
              <a [routerLink]="['/edit/', city.name.toLowerCase()]">Edit</a> |
              <a [routerLink]="['/', city.name.toLowerCase()]">Details</a> |
              <button type="button" class="btn btn-outline-danger" (click)="deleteCity(city.id, citiesIndex)">Delete</button>
          </td>
      </tr>

  </tbody>
</table>
