<div class="container">
  <div class="row">
    <div class="col-sm-5 ml-5">
      <div class="city">
        <h1>Editare orase</h1><br>






        <!-- <button class="btn btn-outline-success mr-4" *ngIf="addMode==false" (click)="addCityMode()">Adauga oras</button> -->

        <!-- <form class="form-control">
   <select>
     <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
   </select>
  <button type="button" class="btn btn-outline-danger" (click)="deleteCity(city.id)">Sterge orasul</button>
 </form> -->


        <table class="table">
          <thead>
            <tr>
              <th>
                Nume oras
              </th>
            </tr>

          </thead>
          <tbody *ngFor="let city of cities; let citiesIndex = index;">
            <tr>
              <td>
                {{city.name}}
              </td>
              <td>
                <button type="button" class="btn btn-outline-secondary"
                  (click)="selectCity(city.id, citiesIndex)">Edit</button> |
                <!-- <a [routerLink]="['/edit/', city.name.toLowerCase()]">Edit</a>  -->
                <button type="button" class="btn btn-outline-info" [routerLink]="['/city/', city.name]">Details

                </button> |
                <button type="button" class="btn btn-outline-danger"
                  (click)="deleteCity(city.id, citiesIndex)">Delete</button>
                <!-- <button type="button" class="btn btn-outline-dark">Dark</button> -->
              </td>
            </tr>

          </tbody>
        </table>
        <button type="button" class="btn btn-outline-success" (click)="addMode=true">Adauga un oras</button><br>

      </div>

      <div class="col-sm-12" *ngIf="editMode===true">
        <tabset>
          <tab heading="Modificare detalii oras">
            <div class="card">
              <div class="col-sm-6 mt-5 mb-5">
                <form #editCity="ngForm" (ngSubmit)="updateCity(citiesIndex)">
                  <h3>Modificare detalii oras {{cities[citiesIndex].name}}</h3>
                  <label for="name">Nume oras</label>
                  <input type="text" class="form-control" required name="name" [(ngModel)]="city.name"
                    [ngModelOptions]="{standalone: true}"> <br>
                  <label for="description">Descrierea orasului</label>
                  <textarea type="textarea" class="form-control" required name="description"
                    [(ngModel)]="city.description" [ngModelOptions]="{standalone: true}"></textarea> <br>

                  <button type="submit" class="btn btn-outline-success mr-3" [disabled]="editCity.dirty">Modifica
                    orasul</button><br>
                  <button type="button" class="btn btn-outline-secondary" (click)="editMode=false">Cancel</button>
                </form>
              </div>
            </div>
          </tab>
          <tab heading="Modificare poza oras">
            <div class="card">
              <div class="col-sm-10 mt-5 mb-5">
                <form #editPhoto="ngForm" (ngSubmit)="updatePhoto()">
                  <label for="photo">Poza orasului</label>
                  <input type="file" class="form-control" (change)="onSelectFile($event.target.files[0])"><br><br>
                  <button type="submit" class="btn btn-success btn-block">Schimba poza</button>
                </form>
              </div>
            </div>
          </tab>
        </tabset>

        <div class="col-sm-12">
          <h1>Aprobare postari</h1><br>
        
          <button type="button" class="btn btn-outline-primary mr-3" (click)="pressButton('toate')">Toate</button>
          <button type="button" class="btn btn-outline-success mr-3" (click)="pressButton('natura')">Natura</button>
          <button type="button" class="btn btn-outline-secondary mr-3" (click)="pressButton('oras')">Oras</button>
          <button type="button" class="btn btn-outline-info" (click)="pressButton('local')">Sfaturile localnicilor</button>
          <div class="row">
            <div class="col-md-9">
              <div *ngFor="let post of posts; let postIndex = index" class="row">
                <div *ngIf="post?.type===buttonState || buttonState=== 'toate'" class="col-md-10">
                  <hr>
                  <div class="row">
                    <div class="col-md-4">
                      <a [routerLink]="['/user/', post?.user?.userName]">
                        <img [src]="post?.user?.url" [alt]="post?.user?.userName" class="rounded-circle" *ngIf="post?.user?.url">
                        <i class="fas fa-user fa-4x mr-2" *ngIf="!post?.user?.url"></i>
                      </a>
                    </div>
        
                    <div class="col-md-8">
                      <a [routerLink]="['./', post.id]">
                        <h2 class="text">{{post?.title}}</h2>
                      </a>
                      <p class="post-meta">Postat de
                        <a [routerLink]="['/user/', post.user.userName]">{{post.user.userName}}</a>
                        in data de {{post.dateAdded | date : "dd/MM/yyyy"}}</p>
                      <span class="text-muted float-right">
                        <button class="btn btn-primary float-right"
                          (click)="deletePost(post.id, postIndex)"><i class="fa fa-trash"></i></button>
                      </span>
                      <span class="text-muted float-right">
                        <button class="btn btn-primary float-right"
                          (click)="approvePost(post.id, postIndex)"><i class="fa fa-check"></i></button>
                      </span>
        
        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>
      <div class="add-city" *ngIf="addMode===true">
        <div class="container">
          <h1 class="text-center"><strong>
              Adauga oras:
            </strong></h1>
          <form #addCit="ngForm" (ngSubmit)="addCity()">
            <label for="country">Nume</label>
            <input class="form-control" type="text" name="nume" [(ngModel)]="city.name">
            <label for="lastName">Descriere</label>
            <input class="form-control" type="text" name="descriere" [(ngModel)]="city.description">
            <label for="photo">Poza orasului</label>
            <input type="file" class="form-control" (change)="onSelectFile($event.target.files[0])"> <br>
            <button [disabled]="!city.name || !city.description" class="btn btn-outline-success mr-4">Adauga
              oras</button>
            <button type="button" class="btn btn-outline-secondary" (click)="addMode=false">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="users">
        <h1 class="text-center">Editare utilizatori</h1><br>
        <table class="table">
          <thead>
            <tr>
              <th>
                Nume utilizatori
              </th>
            </tr>

          </thead>
          <tbody *ngFor="let user of users; let userIndex = index;">
            <tr>
              <td>
                {{user?.userName}}
              </td>
              <td>
                <button type="button" class="btn btn-outline-info" [routerLink]="['/user/', user?.userName]">Details
                </button> |
                <button type="button" class="btn btn-outline-danger"
                  (click)="deleteUser(user.userName, userIndex)">Delete</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


